In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('./database/sqlite/test.db')

In [3]:
conn.execute(
    """
        CREATE TABLE IF NOT EXISTS EMPRESA(
            ID INT PRIMARY  KEY       NOT NULL,
            NOME            TEXT      NOT NULL,
            ENDERECO        CHAR(50),
            LIMITE_CREDITO  REAL      NOT NULL
        );
    """)

In [4]:
conn.execute(
    """
        INSERT INTO EMPRESA (ID, NOME, ENDERECO, LIMITE_CREDITO)
        VALUES (3, 'EMPRESA_H', 'BRAZIL', 20000.00 );
    """)

In [5]:
conn.execute(
    """
        INSERT INTO EMPRESA (ID, NOME, ENDERECO, LIMITE_CREDITO)
        VALUES (4, 'EMPRESA_R', 'BRAZIL', 25000.00 );
    """)

In [6]:
cursor = conn.execute("SELECT id + 1, nome, endereco, limite_credito from EMPRESA;")

for row in cursor:
   print(f"row: {row}")

conn.commit()

row: (4, 'EMPRESA_H', 'BRAZIL', 20000.0)
row: (5, 'EMPRESA_R', 'BRAZIL', 25000.0)