In [5]:
nome = 'Pedro'

In [7]:
idade = '20'

In [8]:
# format
frase_format = "Óla meu nome é {} e tenho {} anos".format(nome, idade)

In [9]:
frase_format

'Óla meu nome é Pedro e tenho 20 anos'

In [10]:
#  f-string

In [12]:
frase_f_string = f"Óla meu nome é {nome} e tenho {idade} anos"

In [13]:
frase_f_string

'Óla meu nome é Pedro e tenho 20 anos'

In [14]:
sql = f"""

SELECT * FROM tabela WHERE nome = {nome}

"""

In [15]:
sql

'\n\nSELECT * FROM tabela WHERE nome = Pedro\n\n'

In [16]:
frase_uper = frase_f_string.upper()

In [17]:
frase_uper

'ÓLA MEU NOME É PEDRO E TENHO 20 ANOS'

In [18]:
frase_lower = frase_f_string.lower()

In [19]:
frase_lower

'óla meu nome é pedro e tenho 20 anos'

In [20]:
frase_uper

'ÓLA MEU NOME É PEDRO E TENHO 20 ANOS'

In [23]:
#split 
frase_split = frase_f_string.split(",")

In [24]:
frase_split

['Óla meu nome é Pedro e tenho 20 anos']

In [25]:
# length
frase_length = len(frase_f_string)

In [26]:
frase_length

36

In [28]:
#join 
frase_join = "".join(frase_split)

In [29]:
frase_join

'Óla meu nome é Pedro e tenho 20 anos'

In [31]:
# start ou endwith 
comeca_com_ola = frase_join.startswith("Óla")

In [32]:
comeca_com_ola

True

In [40]:
termina_com_ola = frase_join.endswith("anos")

In [41]:
termina_com_ola

True

In [ ]:
# contains 

contem_pedro =