In [1]:
import pandas as pd

In [2]:
df = pd.read_csv ('./data/users.csv')

In [5]:
df_group =(
    df
    .groupby('profession')
    .agg(
        avg_age=('age', 'mean'),
        min_age=('age', 'min'),
        max_age=('age', 'max')
    )
    
)

In [6]:
df_group

                avg_age  min_age  max_age
profession
developer         25.50     19.0     32.0
doctor            28.00     23.0     33.0
firefighter       34.25     23.0     46.0
police officer    41.00     41.0     41.0
worker            34.75     23.0     45.0